
/* Importação da fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilo para o texto do cabeçalho */
.header-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Fonte em negrito */
    font-size: 1.5rem; /* Tamanho da fonte */
}


body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #333;
}

.bg-light {
    background-color: hsl(30, 17%, 98%) !important;
}

footer {
    margin-top: 30px;
}

@media (max-width: 767.98px) {
    h1 {
        font-size: 1.5rem;
    }
}
